# Ignoramos arquivos sem extensão
*
!*.*
!*/

# Ignoramos checkpoints do jupyter notebook
.ipynb_checkpoints/
# Ignoramos a pasta de aulas
Aulas/
# Ignoramos html e zip (trabalhos final)
*.zip
*.html
# Ignoramos virtual environment
.venv/
