# Ignoramos arquivos sem extensão
*
!*.*
!*/

# Ignoramos checkpoints do jupyter notebook
.ipynb_checkpoints/
# Ignoramos html e zip (trabalhos finais do Jupyter)
*.zip
*.html
# Ignoramos virtual environment
.venv/
# Ignoramos arquivos auxiliares de LaTeX
*.out
*.log
*.fls
*.fdb_latexmk
*.aux
