# Ignoramos arquivos sem extensão
*
!*.*
!*/

# Ignoramos checkpoints do jupyter notebook e cache de python
.ipynb_checkpoints/
__pycache__/
# Ignoramos html e zip (trabalhos finais do Jupyter)
*.zip
*.html
# Ignoramos virtual environment
.venv/
# Ignoramos arquivos auxiliares de LaTeX
*.out
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.aux
